@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body{
    font-family: "Open Sans", serif !important;
}
.cursor-pointer {
    cursor: pointer;
}

.text-link {
    text-decoration: underline;
}

.text-link:hover {
    color: #2e2e2e;
}
.nav-icon{
    margin-right: 10px;
}

.display-hidden {
    display: none;
}
