.not-found__wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

.not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: crimson;
}

.not-found__icon{
    position: absolute;
    left: 50%;
    bottom: 80px;
    height: 100px;
    width: auto;
    transform: translateX(-50%);
}

.not-found__title{
    font-weight: bold;
}
